<a href="https://colab.research.google.com/github/insanudin16/materi-oyusep/blob/main/Sesi1Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**HELLO WORLD**

In [ ]:
print("Hello, World!")

**KOMENTAR**

In [ ]:
# Ini adalah komentar satu baris
print("Komentar tidak akan dieksekusi")

**VARIABEL**

In [ ]:
nama = "Budi"
umur = 25
tinggi = 1.75

# Menampilkan variabel
print("Nama:", nama)
print("Umur:", umur)
print("Tinggi:", tinggi)
print("Nama saya", nama, "dan umur saya", umur)

**OPERASI DASAR ARITMATIK**

In [ ]:
a = 10
b = 5

# Penjumlahan
print("Penjumlahan:", a + b)  # Output: 15

# Pengurangan
print("Pengurangan:", a - b)  # Output: 5

# Perkalian
print("Perkalian:", a * b)  # Output: 50

# Pembagian
print("Pembagian:", a / b)  # Output: 2.0

# Modulus
print("Modulus:", a % b)  # Output: 0

# Eksponen
print("Eksponen:", a ** b)  # Output: 100000

# Pembagian Bulat
print("Pembagian Bulat:", a // b)  # Output: 2

**OPERASI DASAR PERBANDINGAN**

In [ ]:
x = 10
y = 5

# Sama dengan
print("Sama dengan:", x == y)  # Output: False

# Tidak sama dengan
print("Tidak sama dengan:", x != y)  # Output: True

# Lebih besar dari
print("Lebih besar dari:", x > y)  # Output: True

# Lebih kecil dari
print("Lebih kecil dari:", x < y)  # Output: False

# Lebih besar atau sama dengan
print("Lebih besar atau sama dengan:", x >= y)  # Output: True

# Lebih kecil atau sama dengan
print("Lebih kecil atau sama dengan:", x <= y)  # Output: False

**OPERASI DASAR LOGIKA**

In [ ]:
a = True
b = False

# Logika AND
print("Logika AND:", a and b)  # Output: False

# Logika OR
print("Logika OR:", a or b)  # Output: True

# Logika NOT
print("Logika NOT:", not a)  # Output: False

**LIST**

In [ ]:
# Membuat list
buah = ["apel", "pisang", "ceri"]
print(buah)  # Output: ['apel', 'pisang', 'ceri']

# Mengakses elemen
print(buah[0])  # Output: apel
print(buah[-1])  # Output: ceri

# Mengubah elemen
buah[1] = "mangga"
print(buah)  # Output: ['apel', 'mangga', 'ceri']

# Menambahkan elemen
buah.append("jeruk")
print(buah)  # Output: ['apel', 'mangga', 'ceri', 'jeruk']

# Menghapus elemen
buah.remove("mangga")
print(buah)  # Output: ['apel', 'ceri', 'jeruk']

**TUPLE**

In [ ]:
# Membuat tuple
angka = (1, 2, 3, 4, 5)
print(angka)  # Output: (1, 2, 3, 4, 5)

# Membuat tuple
angka = (1, 2, 3, 4, 5)
print(angka)  # Output: (1, 2, 3, 4, 5)


# Mengakses elemen
print(angka[1])  # Output: 2
print(angka[-1])  # Output: 5

**SET**

In [ ]:
# Membuat set
hewan = {"kucing", "anjing", "kelinci"}
print(hewan)  # Output: {'anjing', 'kelinci', 'kucing'}

# Menambahkan elemen
hewan.add("burung")
print(hewan)  # Output: {'anjing', 'kelinci', 'kucing', 'burung'}

# Menghapus elemen
hewan.remove("anjing")
print(hewan)  # Output: {'kelinci', 'kucing', 'burung'}

**DICTIONARY**

In [ ]:
# Membuat dictionary
siswa = {"nama": "Budi", "umur": 20, "jurusan": "Informatika"}
print(siswa)  # Output: {'nama': 'Budi', 'umur': 20, 'jurusan': 'Informatika'}

# Mengakses nilai
print(siswa["nama"])  # Output: Budi
print(siswa.get("umur"))  # Output: 20

# Menambahkan elemen
siswa["alamat"] = "Jakarta"
print(siswa)  # Output: {'nama': 'Budi', 'umur': 20, 'jurusan': 'Informatika', 'alamat': 'Jakarta'}

# Menghapus elemen
siswa.pop("jurusan")
print(siswa)  # Output: {'nama': 'Budi', 'umur': 20, 'alamat': 'Jakarta'}